<% content_for :title do %>
  <%= "| Start" %>
<% end %>

<div class='row'>
  <div class='col-sm-12'>
    <div class='jumbotron container'>
      <h2 class='strong'>&emsp;&emsp;Welcome to Online Immersion, <i><%= @user.first_name %></i></h2>
    </div>
  </div>
  <div class='col-md-6'>
    <div class='panel panel-info'>
      <div class='panel-heading'>
        <h3 class='panel-title'>Get started by choosing a language for a video chat</h3>
      </div>
      <div class='panel-body'>
        <% @supported_languages.each do |language| %>
          <div class='col-sm-4 col-xs-6 text-center'><p>
            <%= button_to [@user, :chatrooms], params: {language_id: language.id}, class: 'btn btn-lg btn-primary' do %>
              <%= language.name %>
            <% end %>
          </p></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <%= image_tag image_path('OI.jpg'), class: 'img-responsive'%>
  </div>
</div>
