<!DOCTYPE html>
<html>
<head>
  <title>OnlineImmersion <%= yield :title %></title>
  <meta name="description" content="An instant new friend in another language.">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'layouts/navigation' %>
  </header>

  <main role='main'>
  <div class='container main'>
    <%= render 'layouts/messages' %>
   
    <%= yield %>
  </div>

  </main>
  <%= javascript_include_tag 'application' %>
</body>
</html>
